{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="row">
        <div class="col">
            <h4 class="text-success">התחברות למערכת</h4>
	        <text>במידה ואינך רשום לחץ על
                <a href="{# url_for('register') #}">הרשמה</a>
            </text>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-4">
            <form method="POST" class="needs-validation" action="{{ url_for('login', next=request.args.get('next')) }}" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <label for="username">שם משתמש או אימייל</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div class="invalid-feedback">נא להזין שם משתמש או אימייל</div>
                </div>
                <div class="form-group">
                    <label for="password">סיסמה</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                    <div class="invalid-feedback">נא להזין סיסמה</div>
                </div>
                <div class="text-left">
                    <input class="btn btn-success" type="submit" value="התחבר">
                </div>
            </form>
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="col">#}
{#	        <text>במידה ושכחת סיסמה, אנא רשום לנו בעמוד#}
{#                <a href="{{ url_for('contact') }}">פנו אלינו</a>#}
{#                 ואנו נחולל לך סיסמה חדשה.#}
{#            </text>#}
{#        </div>#}
{#    </div>#}


    <hr>

    <h5 class="text-info">שחזור סיסמה</h5>
    <div class="row">
        <div class="col">
           	<form method="POST" action="{# url_for('forget_password') #}">
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="host_name" name="host_name" value=""/>
                        <div class="form-group">
                            <label for="forget_pass_email">אימייל</label>
                            <input type="text" class="form-control" id="forget_pass_email" name="forget_pass_email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="btn btn-success btn-sm" type="submit" value="שלח אמייל">
                    </div>
                </div>
            </form>
        </div>
    </div>

	
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
        var url = window.location.href;
        $('#host_name').val(url);
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{%- endblock scripts %}