{% extends "bootstrap/base.html" %}
{% block content %}
    <h2>צוותים</h2>
    <h5>הוספת צוות חדש</h5>
    <form id="add-category-form" method="POST" class="needs-validation" action="{{ url_for('index.teams') }}" novalidate>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="team_name">שם צוות</label>
                <input type="text" class="form-control" id="team_name" name="team_name" required>
            </div>
            <div class="form-group col-md">
                <label for="team_desc">תיאור צוות</label>
                <input type="text" class="form-control" id="team_desc" name="team_desc" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-primary">הוסף</button>
            </div>
        </div>
    </form>

    <hr>

    <h5>קבוצות קיימות</h5>
    <table class="table table-striped table-hover table-sm table-responsive-md">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">שם קבוצה</th>
                <th scope="col">תיאור</th>
            </tr>
        </thead>
        <tbody>
            {%  for team in l_teams %}
                <tr>
                    <th scope="row">{{ team['team_id'] }}</th>
                    <td>{{ team['team_name'] }}</td>
                    <td>{{ team['description'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}