body {
    /*background: linear-gradient(gainsboro, gray) no-repeat;*/
    /*background: #c8ffaf;*/
    /*min-height: 100%;*/
    height:100%;
    /*background-size: cover;*/
}

html {
    /*width:100%;*/
    /*height:100%;*/
    /*height:100%;*/
    overflow:auto
}

.container {
    /*background-color: rgba(37, 221, 178, 0.64);*/
    direction: rtl;
    min-height: 100%;
    margin-top: 10px;
    /*height: 100%;*/
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

.navbar, .nav {
    direction: rtl;
}

.nav {
    background-color: darkturquoise;
    font-size: 0.9rem;
}

.nav.justify-content-center .nav-item .active {
    color: blueviolet;
}

.notifyjs-corner {
    top: 40px !important;
}