{% extends "bootstrap/base.html" %}
{% block content %}
    <h2>פתיחת פניה</h2>
    <form id="add-category-form" method="POST" enctype="multipart/form-data" class="needs-validation" action="{{ url_for('hd.open_hd_ticket') }}" novalidate>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="hd-cat-1">סיווג 1</label>
                <select class="form-control" name="hd-cat-1" id="hd-cat-1" required>
                    <option selected value disabled> -- ללא -- </option>
                    {% for opt in cat_1_l %}
                        <option value="{{ opt['id'] }}">{{ opt['category_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="hd-cat-2">סיווג 2</label>
                <select class="form-control" name="hd-cat-2" id="hd-cat-2" required>
                    <option selected value disabled> -- ללא -- </option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="hd-cat-3">סיווג 3</label>
                <select class="form-control" name="hd-cat-3" id="hd-cat-3" required>
                    <option selected value disabled> -- ללא -- </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="hd_ticket_note">תיאור הפניה</label>
                <textarea class="form-control" id="hd_ticket_note" name="hd_ticket_note" rows="3" required></textarea>
            </div>
            <div class="form-group col-md-3">
                <label for="hd_ticket_multi_file">בחירת קבצים מרובה</label>
                <input type="file" class="form-control-file" id="hd_ticket_multi_file" name="hd_ticket_multi_file" multiple>
                <small class="form-text text-muted">עד 3 קבצים, כל קובץ עד 5 מגה</small>
            </div>
            <div class="form-group col-md-3">
                <label for="assign-cust">פתח עבור משתמש אחר</label>
                <select class="form-control" name="assign-cust" id="assign-cust" required>
                    <option selected value="0"> -- ללא -- </option>
                    {% for user in assign_user_id_l %}
                        <option value="{{ user['user_id'] }}">{{ user['full_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-primary">הוסף</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block scripts %}
{{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/hd/set_child_cat_field.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hd/open_ticket.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
    <script>
        $('#hd_ticket_note').summernote(summernote_defaults);
    </script>
{%- endblock scripts %}