{% extends "bootstrap/base.html" %}
{% block content %}

    <div class="row justify-content-between">
        <div class="col">
            <h2>פניה מס'
            {{ ticket_id }}</h2>
        </div>
        <div class="col text-left">
            <button class="btn btn-primary" id="header-edit-btn">עריכה</button>
            <span id="header-edit-btn-div" style="display: none">
                <button class="btn btn-success" id="header-save-btn">שמירה</button>
                <button class="btn btn-danger" id="header-cancel-btn">ביטול</button>
            </span>
            <a class="btn btn-warning" href="{{url_for('hd.hd_home')}}" role="button">חזרה</a>
        </div>
    </div>

    <form id="header-form" class="needs-validation" novalidate>
        <div class="card">
            <div class="card-body">
                <div class="form-row" id="header-form-close-data" style="display: none">
                    <div class="form-group col-sm">
                        <b><label for="close-by-name">נסגרה ע"י</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="close-by-name" name="close-by-name" value="">
                    </div>
                    <div class="form-group col-sm">
                        <b><label for="close-by-date">נסגרה בתאריך</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="close-by-date" name="close-by-date" value="">
                    </div>
                    <div class="form-group col-sm">
                        <b><label for="close-reason-name">סיבת סגירה</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="close-reason-name" name="close-reason-name" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <b><label for="status-name">סטטוס</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="status-name" name="status-name" value="">
                    </div>
                    <div class="form-group col-sm">
                        <b><label for="create-by-name">נוצרה ע"י</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="create-by-name" name="create-by-name" value="">
                    </div>
                    <div class="form-group col-sm">
                        <b><label for="open-date">נוצרה בתאריך</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="open-date" name="open-date" value="">
                    </div>
                    <div class="form-group col-sm">
                        <b><label for="due-date">צפי לטיפול</label></b>
                        <input type="text" readonly class="form-control-plaintext" id="due-date" name="due-date" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <label for="hd-cat-1">סיווג 1</label>
                        <select class="form-control" name="hd-cat-1" id="hd-cat-1" required disabled>
                            {% for opt in cat_1_l %}
                                <option value="{{ opt['id'] }}">{{ opt['category_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm">
                        <label for="hd-cat-2">סיווג 2</label>
                        <select class="form-control" name="hd-cat-2" id="hd-cat-2" required disabled></select>
                    </div>
                    <div class="form-group col-sm">
                        <label for="hd-cat-3">סיווג 3</label>
                        <select class="form-control" name="hd-cat-3" id="hd-cat-3" required disabled></select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">תיעוד והיסטוריה</h5>
                    <div class="form-row">
                        <div class="form-group col-sm">
                            <label for="hd_ticket_note">הוספת תיעוד</label>
                            <textarea class="form-control" id="hd_ticket_note" required></textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-end">
                        <div class="form-group col-auto mr-auto close-element" id="close-reason-div" style="display: none">
                            <div class="form-inline">
                                <label for="close-reason">סיבת סגירה</label>
                                &nbsp
                                <select class="custom-select" name="close-reason" id="close-reason" required>
                                    <option selected value disabled> -- ללא -- </option>
                                    {% for cr in close_reason_l %}
                                        <option value="{{ cr['ticket_close_reason_id'] }}">{{ cr['ticket_close_reason_name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-auto">
                            <div class="form-check form-check-inline close-element">
                                <input class="form-check-input" type="checkbox" id="close-reason-cb" value="option1">
                                &nbsp
                                <label class="form-check-label" for="close-reason-cb">סגור</label>
                            </div>
                            <button class="btn btn-primary" id="add-user-note">הוסף</button>
                        </div>
                    </div>

                    <ul class="list-group ul_notes" style="padding-inline-start: 0">
                        <li class="list-group-item ticket_note mb-2" style="display: none">
                            <div id="main-text"></div>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <small class="text-muted font-weight-bold" id="ticket-type-name"></small>
                                </div>
                                <div class="col-auto text-left text-muted">
                                    <bdi><small id="div-user-f-name" class="font-weight-bold"></small></bdi>
                                    <small> @ </small>
                                    <small id="div-heb-date"></small>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>


        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">קבצים מצורפים</h5>
                    <div id="files-div"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
{{super()}}
    <script>ticket_id={{ ticket_id }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hd/set_child_cat_field.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hd/ticket.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{%- endblock scripts %}